.profile-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-weight: bold;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #64DC78;
}