.sidebar {
    background-color: rgb(255, 255, 255);
    max-width: 10em;
    height: 100vh;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item {
    width: 100%;
    padding: 2em 0;
    text-align: center;
}

.menu-item:hover {
    background-color: #F0F5FA;
    cursor: pointer;
}